<nz-layout class="out-layout">
  <nz-content class="outer-content">
    <nz-layout class="inner-layout">
      <nz-header>
      <nz-tabset nzLinkRouter>
        <nz-tab>
          <a nz-tab-link [routerLink]="['/', 'remapping']">Remapping</a>
        </nz-tab>
        <nz-tab>
          <a nz-tab-link [routerLink]="['/', 'detail']">Profiles</a>
        </nz-tab>
        <nz-tab>
          <a nz-tab-link [routerLink]="['/', 'detail']">Misc</a>
        </nz-tab>
    </nz-tabset>
      </nz-header>
      <nz-content class="inner-content">
        <router-outlet></router-outlet
      ></nz-content>
    </nz-layout>
  </nz-content>
</nz-layout>

